<footer>
    <div class="container text-center">
        <p>&copy; 2023 GrowShop. Todos los derechos reservados.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="index.html">Inicio</a></li>
            <li class="list-inline-item"><a href="shop.html">Tienda</a></li>
            <li class="list-inline-item"><a href="contact.html">Contacto</a></li>
        </ul>
        <div>
            <a href="https://www.facebook.com" target="_blank" class="me-2"><img src="assets/img/facebook-icon.png" alt="Facebook" width="30"></a>
            <a href="https://www.instagram.com" target="_blank" class="me-2"><img src="assets/img/instagram-icon.png" alt="Instagram" width="30"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="assets/img/twitter-icon.png" alt="Twitter" width="30"></a>
        </div>
    </div>
</footer>